/* ------------------ FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ------------------ VARIABLES ------------------ */
:root{
  --light-color: #FFFFFF;
  --dark-color: #18181b;
  --transition: 1.75s cubic-bezier(.2, .6, 0, 1);
}

/* ------------------ GLOBAL ------------------ */
*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  color: var(--light-color);
  background-color: var(--dark-color);
}

.content{
  max-width: 1600px;
  padding: 0 40px;
  margin: auto;
}

/* ------------------ SWIPER ------------------ */
.header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 20px 5px;
}

.swiper{
  width: 100%;
  height: 100vh;
}

.slider__layer {
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: center;
	will-change: transform;
	/* transition: var(--transition)!important; */
}

.slider__layer::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: 1;
	box-shadow: inset 0 0 250px rgb(0 0 0 / .3);
}

.swiper-slide{
  overflow: hidden;
}

.slider-wrapper {
	will-change: transform;
	transform-style: preserve-3d;
	/* transition: var(--transition)!important; */
}
